@import "./src/styles/variables";

.skillItem {
  flex-wrap: wrap;
  min-width: 100px;
  max-width: 280px;
  padding: 0 20px;
  margin: 0 auto 20px auto;
  text-align: center;

  h3 {
    width: 100%;
    margin: 20px auto;
    padding: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  p {
    margin: 20px 0;
  }
}

.skillItem__img {
  width: 60px;
  height: auto;
  margin: 0 auto;
  background-color: red;
}

@media (min-width: $tablet-width) {
  .skillItem {
    margin: 20px auto;
  }
}

