.skillItem {
  flex-wrap: wrap;
  min-width: 100px;
  max-width: 280px;
  padding: 0 20px;
  margin: 0 auto 20px auto;
  text-align: center;
  border: 1px solid blue;
}

.skillItem__img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-color: red;
}

.skillItem__title {
  margin: 20px 0;
  font-weight: bold;
  background-color: darkgray;
}

.skillItem__text {
  margin: 20px 0;
  background-color: darkgray;
}

@media (min-width: 768px) {

}
