@import "./src/styles/variables";

.skillItem {
  flex-wrap: wrap;
  width: 280px;
  padding: 0 20px;
  margin: 20px auto;
  text-align: center;

  h3 {
    width: 100%;
    margin: 20px 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
  }

  p {
    margin: 20px 0;
  }
}
