.workItem {
  flex-grow: 1;
  flex-wrap: wrap;
  min-width: 320px;
  max-width: 360px;
  margin: 0 auto 40px auto;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #252527;
}

.workPreview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
}

.workPreview::before {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: #000000;
  opacity: 0.4;
}

.workPreview__link {
  position: relative;
  z-index: 1;
  display: block;
  width: 100px;
  padding: 12px 12px 8px 12px;
  font-size: 20px;
  vertical-align: center;
  text-transform: uppercase;
  background-color: rgba(194, 194, 194, 0.7);
  transition: 0.3s;

  &:hover {
    color: #4e93e6;
    background-color: #ffffff;
  }
}

.workDescription {
  padding: 0 20px;
  text-align: left;
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}

.workItem__title {
  margin: 20px 0;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.workItem__text {
  margin: 20px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .workItem {
    flex-wrap: wrap;
    min-width: 400px;
    max-width: 600px;
  }

  .workPreview{
    width: 100%;
    height: 300px;
  }
}

@media (min-width: 768px) {
  .workItem {
    flex-wrap: wrap;
    min-width: 400px;
    max-width: 500px;
  }

  .workPreview{
    width: 100%;
    height: 300px;
  }
}

@media (min-width: 1120px) {
  .workItem {
    flex-wrap: wrap;
    min-width: 400px;
    max-width: 400px;
    margin: 0 0 40px 0;
  }
}
