.workItem {
  flex-grow: 1;
  flex-wrap: wrap;
  min-width: 320px;
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid blue;
}

.workPreview{
  width: 100%;
  padding: 40px 0;
  min-height: 200px;
  margin: 0 auto;
  background-color: red;
}

.workPreview__link {
  font-size: 20px;
  text-transform: uppercase;
}

.workDescription {
  padding: 0 20px;
  text-align: left;
  border: 1px solid blue;
}

.workItem__title {
  margin: 20px 0;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: darkgray;
}

.workItem__text {
  margin: 20px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: darkgray;
}
