@import "./src/styles/variables";

.socialsList {
  display: flex;
  justify-content: space-between;
  min-width: 320px;
  max-width: 400px;
  margin: 10px auto;
  padding: 0;

  a {
    padding: 10px;
    font-size: 38px;
    color: $special_light-gray;
    transition: 0.3s;
    outline: none;

    &:hover,
    &:focus {
      color: $special_blue;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .socialsList {
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .socialsList {
    max-width: 400px;
  }
}
