.skillsContainer {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: mediumpurple;
}

.skillsContainer h2 {
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

.skillsWrapper {
  max-width: 1120px;
  margin: 0 auto;
  border: 1px solid red;
}

.skillsList {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 320px) {
  .skillsWrapper {
    min-width: 320px;
    max-width: 320px;
  }

  .skillsList {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .skillsWrapper {
    min-width: 768px;
  }

  .skillsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 1120px) {
  .skillsWrapper {
    min-width: 1120px;
    padding: 0;
  }

  .skillsList {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
