@import "./src/styles/variables";

.skillsContainer {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: $basic_white;
  font-family: $additional_font;
  font-size: 14px;
  line-height: 1.6;
  background-color: $special_dark-gray-2;
}

.skillsWrapper {
  max-width: 1120px;
  margin: 0 auto;
  border: 1px solid red;
}

.skillsList {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: $mobile-width-only) {
  .skillsWrapper {
    min-width: 320px;
    max-width: 320px;
  }

  .skillsList {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $tablet-width) {
  .skillsWrapper {
    min-width: 768px;
  }

  .skillsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .skillsWrapper {
    min-width: 1120px;
    padding: 0;
  }

  .skillsList {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
