@import "./src/styles/variables";

.employContainer {
  min-width: $mobile-width-only;
  margin: 0;
  padding: 0;
  background-color: $special_dark-gray-2;
}

.employWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: $desktop-width;
  min-height: 100px;
  margin: 40px auto;
  padding: 0 20px;

  button {
    margin-bottom: 80px;
  }
}
