@import "./src/styles/variables";

.headerContainer {
  min-width: 320px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $additional_font;
  letter-spacing: 1px;
  color: $basic_white;
}

.headerWrapper {
  min-height: 40px;
  margin: 0 auto 0 auto;
  padding: 20px 0;

  border: 1px solid red;
}

@media (max-width: $mobile-width-only) {
  .headerWrapper {
    max-width: 320px;
    min-height: 40px;
    margin: 0 auto 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .headerContainer {
    min-width: 768px;
    margin: 0;
    padding: 0;
  }

  .headerWrapper {
    min-width: 768px;
    min-height: 40px;
    margin: 0 auto;
    padding: 20px 20px;

    border: 1px solid red;
  }
}

@media (min-width: $desktop-width) {
  .headerContainer {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .headerWrapper {
    max-width: 1120px;
    min-height: 40px;
    margin: 0 auto;
    padding: 20px 20px;

    border: 1px solid red;
  }
}
