@import "./src/styles/variables";

.worksContainer {
  min-width: $mobile-width-only;
  margin: 0;
  padding: 0;
  background-color: $special_dark-gray;
}

.worksWrapper {
  max-width: $desktop-width;
  min-width: $mobile-width-only;
  min-height: 100vh;
  margin: 0 auto;
}

.worksList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: $mobile-width-only) {
  .worksWrapper {
    max-width: $mobile-width-only;
  }
}

@media (min-width: $tablet-width) {
  .worksWrapper {
    min-width: $tablet-width;
  }

  .worksList {
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .worksWrapper {
    min-width: $desktop-width;
  }

  .worksList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
