.footerContainer {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: salmon;
}

.footerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1120px;
  min-width: 320px;
  height: 300px;
  margin: 0 auto;
  padding: 0;

  border: 1px solid red;

}

.footerInform {
  width: 200px;
  margin: 20px auto;
  text-align: center;
  background-color: darkgray;
}

@media (max-width: 320px) {
  .footerWrapper {
    max-width: 320px;
  }
}

@media (min-width: 768px) {
  .footerWrapper {
    min-width: 768px;
  }
}
