@import "./src/styles/variables";

.contactsContainer {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: $special_dark-gray;
}

.contactsWrapper {
  min-width: 320px;
  max-width: 1120px;
  min-height: 400px;
  margin: 0 auto;
}

.contactsForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  max-width: 400px;
  margin: 40px auto;

  button {
    margin: 20px auto;
    background-color: $special_dark-gray;
    border-color: $special_dark-gray;
  }
}

.contactsForm__fields {
  display: flex;
  flex-direction: column;

  input,
  textarea {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 8px 10px;
    color: $special_light-gray;
    background-color: $special_dark-gray-2;
    border: 1px solid $special_dark-gray-3;
    outline: none;

    &:hover,
    &:focus {
      transition: 0.5s;
      border-color: $special_blue;
    }

    &:active {
      border-color: $special_blue;
    }
  }

  textarea {
    min-height: 100px;
    resize: none;
  }
}

.contactsForm__btn {
  width: 100px;
  margin: 20px auto;
}

@media (max-width: $mobile-width-only) {
  .contactsWrapper {
    max-width: 320px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .contactsWrapper {
    min-width: 768px;
  }

  .contactsForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    max-width: 500px;
    margin: 40px auto;
  }
}
